<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renderized Welcome Page</title>
    <style>
        body {
            background-color: #fafafa;
            color: #181818;
            font-family: 'Courier New', Courier, monospace;
            display: grid;
            place-items: center;
            height: 100vh;
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <h1>Welcome to my page!!</h1>
</body>

</html>